.git
.gitignore

node_modules
build
dist
out
.next
target
*.jar

.env
.env.local
.env.development
.env.test
.env.production
jwt.yml (비밀키가 들어있다면 제외, 템플릿이라면 포함 가능)

.idea
.vscode
*.swp
*.iml

.DS_Store
Thumbs.db

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile*
docker-compose*