name: Deploy Backend - Bookmark Service

on:
  push:
    branches: [ "main" ]
    paths:
      - 'bidus-backend/bookmark-service/**'

env:
  DOCKER_IMAGE: rainerhour/auction-bookmark-service
  DEPLOYMENT_NAME: bookmark-service
  CONTAINER_NAME: bookmark-service
  WORKING_DIRECTORY: bidus-backend/bookmark-service

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Build with Gradle
      run: |
        cd ${{ env.WORKING_DIRECTORY }}
        chmod +x gradlew
        ./gradlew clean build -x test

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      run: |
        cd ${{ env.WORKING_DIRECTORY }}
        IMAGE_TAG=${{ github.sha }}
        
        docker build -t $DOCKER_IMAGE:$IMAGE_TAG -t $DOCKER_IMAGE:latest .
        docker push $DOCKER_IMAGE:$IMAGE_TAG
        docker push $DOCKER_IMAGE:latest

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Update kubeconfig
      run: aws eks update-kubeconfig --name ${{ secrets.EKS_CLUSTER_NAME }} --region ${{ secrets.AWS_REGION }}

    - name: Deploy to EKS
      run: |
        IMAGE_TAG=${{ github.sha }}
        kubectl set image deployment/$DEPLOYMENT_NAME $CONTAINER_NAME=$DOCKER_IMAGE:$IMAGE_TAG -n default
        kubectl rollout status deployment/$DEPLOYMENT_NAME -n default