name: Deploy Frontend

on:
  push:
    branches: [ "main" ]
    paths:
      - 'bidus-frontend/**'

env:
  DOCKER_IMAGE: rainerhour/auction-frontend
  DEPLOYMENT_NAME: frontend
  CONTAINER_NAME: frontend

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push
      run: |
        # 태그 설정
        IMAGE_TAG=${{ github.sha }}
        
        # [중요] NEXT_PUBLIC_API_URL 뒤에 로드밸런서 주소를 넣으세요
        docker build \
          --build-arg NEXT_PUBLIC_API_URL=http://k8s-default-auctioni-87154b402a-1303663482.ap-northeast-2.elb.amazonaws.com \
          -t $DOCKER_IMAGE:$IMAGE_TAG \
          -t $DOCKER_IMAGE:latest \
          -f front/Dockerfile ./front
        
        docker push $DOCKER_IMAGE:$IMAGE_TAG
        docker push $DOCKER_IMAGE:latest

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Update kubeconfig
      run: aws eks update-kubeconfig --name ${{ secrets.EKS_CLUSTER_NAME }} --region ${{ secrets.AWS_REGION }}

    - name: Deploy to EKS
      run: |
        IMAGE_TAG=${{ github.sha }}
        kubectl set image deployment/$DEPLOYMENT_NAME $CONTAINER_NAME=$DOCKER_IMAGE:$IMAGE_TAG -n default
        kubectl rollout status deployment/$DEPLOYMENT_NAME -n default